@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow:hidden;
}

#root {

  padding: 0px !important;
}

#ballDragged {
  filter: drop-shadow(0px 0px 10px white);
}
.player{
  height:60px;
  width:60px;
}
.playerTopCover{
  height:60px;
  width:60px;
}
.nameWrapper{
  
  right:-35%;
  overflow-x: visible;
  white-space:normal;

} 

.laneMarketTop{
  top:11px;

}

p{
  outline: 4px navy;
} 

.wpLogo{

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
}